@import "tailwindcss";

@theme {
  --color-clr-cinder: hsl(230, 35%, 7%);
  --color-clr-fog: hsl(231, 77%, 90%);
  --color-clr-white: hsl(0, 0%, 100%);
  --font-display: "Bellefair", serif;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  background-color: black;
}

@layer components {
  button {
    @apply border-0 cursor-pointer;
  }

  ul {
    @apply list-none cursor-pointer;
  }
  li {
    @apply uppercase;
  }
}

.text {
  @apply uppercase text-2xl text-clr-fog;
}

.text-info {
  @apply uppercase text-4xl font-display;
}

.space {
  font-family: "Bellefair", serif;
}

.btn-explore {
  position: relative;
  z-index: 1;
  display: inline-grid;
  place-items: center;
  aspect-ratio: 1 / 1;
}

.btn-explore::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  scale: 1;
  transition: all 0.75s ease-in-out;
}

.btn-explore:hover::before {
  opacity: 1;
  scale: 1.5;
}

.btn-explore:focus-visible {
  outline: 3px solid var(--color-clr-fog);
  outline-offset: 3px;
}

@media (width >= 80rem) {
  .desktop-header {
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem 0rem;
    margin: 2rem 0rem;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
  }

  .top-content {
    display: flex;
    align-items: self-start;
    width: 35%;
  }

  .des {
    letter-spacing: 1px;
    line-height: 2rem;
  }
  .space {
    font-size: 10rem;
  }

  .destination-content {
    display: flex;
    align-items: self-start;
  }

  .destination-main {
    display: flex;
  }
}
